div button{
        font-size: 10px;
        font-weight: bold;
        color: black;
        text-align: center;
        line-height: 1px;
        padding: 1px;
        position: relative;
        bottom: 5px;
    }
.ratllat{
    text-decoration: line-through;
}